**/*.tgz*
build
autom4te.cache
test-driver
compile
.kdev4
DiagHam_latest.kdev4
.idea
run/**/*.dat*
run/**/*.out*
run/**/*.gp*
run/**/*.bak*
run/**/*.vec*
run/**/*.gs*
run/**/*.vec*
run/**/*par*
run/**/*.png*
run/**/*.ps*
run/**/*taskfile*
run/**/*.txt*
run/**/initialvector
.svn
**/*.deps
**/nohup.out

